<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net452" />
  <package id="IronPython" version="2.7.7" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MessagePack" version="1.7.3.4" targetFramework="net461" />
  <package id="MessagePackAnalyzer" version="1.6.0" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net452" />
</packages>