<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net452" />
  <package id="IronPython" version="2.7.7" targetFramework="net452" />
  <package id="MessagePack" version="2.1.90" targetFramework="net471" />
  <package id="MessagePack.Annotations" version="2.1.90" targetFramework="net471" />
  <package id="MessagePackAnalyzer" version="2.1.90" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="OpenTK" version="3.0.1" targetFramework="net471" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net471" />
  <package id="SharpFont" version="4.0.1" targetFramework="net471" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>